{% extends 'todolist/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>It is my personal pet project designed to develop and hone my web development skills.</p>
    <br>This site is a platform where users can create profiles of famous personalities and share information about them with other.<br>
The main idea of the project is to create an online community for fans and those interested in history and culture. <br>Here users can learn interesting facts about famous personalities, add new categories, create cards with information about people, as well as communicate and share their impressions with other community members.
<ul>
    Main functionality of the site:
<li>
    User Registration and Authentication: Users can create accounts on the site to access all features of the platform.</li>
<li>Category Creation: Registered users can suggest new categories such as Historical Personalities, Cultural Icons, Contemporary Celebrities, etc. Each category collects profiles of people from a certain area.</li>Adding People Cards: Users can create cards with information about famous personalities and fill them with data such as name, date of birth, brief description, achievements and photos.
<li>Profile Search: Users can search profiles of famous personalities by various parameters such as name, category, life period, etc.</li>
</li>
    <h5>
        Note: <br>
This is a training project and is not intended to process and store sensitive data of real individuals. <br>All information on the site is fictitious and created solely to demonstrate the functionality of the project.
    </h5>
</ul>

{% endblock %}
